* {
    box-sizing: border-box;

}
ul {
    list-style-type: none;
}
li {
  cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}
.text {
  color: 919191;
}
img {
    max-width: 100%;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1fr 3fr);
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  padding: 30px 50px;
  border-radius: 50px;
  color: #ffff;
  margin-top: 30px;
  background-color: red;
}
