.cart {
&-list {
    display: flex;
    justify-content: space-between;
}
&-right {
    display: flex;
    align-items:  center;
    gap: 150px;
}
&-line {
    border: 1px  solid #ece7e2;
}
 @include maxw(1023px) {
   &-price {
    display: none;

}
  }
 @include maxw(767px) {
   &-list {
    display: none;

}
  }

}
   