.shop {
    &-product {
           display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        text-align: center;
    }
    &-grid {
        display: flex;
        gap: 30px;
    }
    &-navbar {
        width: 270;
    }
    @media screen and (max-width: 900px) {
        &-product {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }
    }
    @media screen and (max-width: 440px) {
         &-grid {
        display: grid;
        row-gap: 30px;
        
    }
      &-product {
           display: grid;
        grid-template-columns: 1fr;
        
    }

    }


}