.item {
    margin-bottom: 30px;
    margin-top: 30px;
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-left {
        display: flex;
        align-items: center;
        gap: 30px;
    }
     &-right {
        display: flex;
        align-items: center;
        
        gap: 150px;
    }
     &-total {
    padding-right: 56px;
}
   &-img {
    width: 124px;
    height: 124px;
    border-radius: 5px;
}
&-btn{
  padding: 5px;
  background: #ffff;
  border: 1px solid black;
  cursor: pointer;
}
&-quantity{
  padding: 5px 10px;
  background: #ffff;
    border: 1px solid black;

}
}