.item {
    margin-bottom: 30px;
    margin-top: 30px;
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    &-remove {
        cursor: pointer;
    }
    &-left {
        display: flex;
        align-items: center;
        gap: 30px;
    }
     &-right {
        display: flex;
        align-items: center;
        color: #c0c0c0;
        gap: 150px;
    }
     &-total {
    padding-right: 56px;
}
   &-img {
    width: 124px;
    height: 124px;
    border-radius: 5px;
}
&-btn{
  padding: 5px;
  background: #ffff;
  border: 1px solid black;
  cursor: pointer;
}
&-quantity{
  padding: 5px 10px;
  background: #ffff;
    border: 1px solid black;

}
@include maxw(1023px) {
   &-price {
    display: none;
}
&-left {
      gap: 20px;
  }
}
@include maxw(767px) {
   &-right {
    display: inline;
}
    &-total {
    margin-top: 10px;
}
}
@include maxw(426px) {
  &-left {
      gap: 10px;
  }
}
}