.product {
    &-title {
        color: $title-color;
        font-weight: 600;
        font-size: 22px;
       }
    &-price {
font-size: 18px;
color: #ed6436;
    }
    &-card {
        &-button:hover {
            opacity: 1;
        }
    }


}